.main-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./building.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-page-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #EDEDED;
    opacity: 0.53;
}